*.asv
*.mex*
*.mlappinstall
*.mlapp
*.matc
*.cvp
*.cvt
*.cov
profSave.*
*.prf
resources/
*.prj
*.mlproj
*.slprj/
*_ert_rtw/
*_grt_rtw/
sfprj/
*.slx.original
*.sldd.original
*.slxc
*.bak
*.autosave
*.mdl.autosave
*.simulink.autosave
*.slx.autosave
*.mdl.shadow
*.slx.shadow
*.rwd
*.slmx
*.slreqx
*.mldatx
*.sltx
_slash_metrics_files_
rtw_proj.tmw
*.c
*.h
*.obj
*.o
*.lib
*.dll
*.exe
*.sdf
*.tmw
*_data.c
*_data.h
*_private.h
*_types.h
*.mat
*~
*.tmp
*.temp
.DS_Store
Thumbs.db
.vscode/